version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: stockq_web
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: stockq.settings.prod 
    command: >
      gunicorn stockq.wsgi:application
      --bind 0.0.0.0:8000
      --workers 2
      --access-logfile -
      --error-logfile -
      --log-level info
    depends_on:
      - db
      - redis

  db:
    image: postgres:17
    container_name: stockq_postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: stockq_redis
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: stockq_celery_worker
    command: celery -A stockq worker -l info
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: stockq.settings.prod

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: stockq_celery_beat
    command: celery -A stockq beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: stockq.settings.prod


volumes:
  db_data:
  redis_data:
